
JS/hw-08/src/js/gallery-items.js
JS/hw-08/src/js/03-feedback.js
JS/hw-08/src/js/02-video.js
JS/hw-08/src/js/01-gallery.js
JS/hw-08/src/index.html
JS/hw-08/src/css/common.css
JS/hw-08/src/css/03-feedback.css
JS/hw-08/src/css/01-gallery.css
JS/hw-08/src/03-feedback.html
JS/hw-08/src/02-video.html
JS/hw-08/src/01-gallery.html
JS/hw-08/src.zip
JS/hw-08/parcel-project-template-main/src/js/gallery-items.js
JS/hw-08/parcel-project-template-main/src/js/03-feedback.js
JS/hw-08/parcel-project-template-main/src/js/02-video.js
JS/hw-08/parcel-project-template-main/src/js/01-gallery.js
JS/hw-08/parcel-project-template-main/src/index.html
JS/hw-08/parcel-project-template-main/src/css/common.css
JS/hw-08/parcel-project-template-main/src/css/03-feedback.css
JS/hw-08/parcel-project-template-main/src/css/01-gallery.css
JS/hw-08/parcel-project-template-main/src/03-feedback.html
JS/hw-08/parcel-project-template-main/src/02-video.html
JS/hw-08/parcel-project-template-main/src/01-gallery.html
JS/hw-08/parcel-project-template-main/README.uk.md
JS/hw-08/parcel-project-template-main/README.pl.md
JS/hw-08/parcel-project-template-main/README.md
JS/hw-08/parcel-project-template-main/README.es.md
JS/hw-08/parcel-project-template-main/README.en.md
JS/hw-08/parcel-project-template-main/package.json
JS/hw-08/parcel-project-template-main/package-lock.json
JS/hw-08/parcel-project-template-main/assets/status.png
JS/hw-08/parcel-project-template-main/assets/repo-settings.png
JS/hw-08/parcel-project-template-main/assets/how-it-works.png
JS/hw-08/parcel-project-template-main/assets/actions-config-step-2.png
JS/hw-08/parcel-project-template-main/assets/actions-config-step-1.png
JS/hw-08/parcel-project-template-main/.sassrc
JS/hw-08/parcel-project-template-main/.prettierrc
JS/hw-08/parcel-project-template-main/.posthtmlrc
JS/hw-08/parcel-project-template-main/.parcelrc
JS/hw-08/parcel-project-template-main/.htmlnanorc
JS/hw-08/parcel-project-template-main/.github/workflows/deploy.yml
JS/hw-08/parcel-project-template-main/.editorconfig
JS/hw-08/parcel-project-template-main.zip
JS/hw-08/JS-HW-08/
